body{
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1024px;
    position: absolute;
}

#scroll-appear-on-load{
    height: 101%;
    width:1px;
    padding-bottom: 5px;
    position: absolute;
    top: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: #a7cce1;
}
::-webkit-scrollbar-thumb {
    background: #577dbe;
}
::-webkit-scrollbar-thumb:hover {
    background: #4d71a9;
}
::-webkit-scrollbar-thumb:active {
    background: #3757a9;
}
