body{
	background-color: #404040;
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	position: relative;
}

div{
	position: absolute;
}

.type{
	background-color: #454545;
	width: 100px;
	height: 20px;
    border-style: solid;
    border-width: 1px;
	border-color: black;
	position: absolute;
}

#name{
	top: 37px;
	left: 80px;
}
#pass{
	top: 67px;
	left: 80px;
}
#signup{
    top: 100px;
    left: 10px;
    position: absolute;
}
#login{
	top: 100px;
	left: 80px;
	position: absolute;
}
