html{
    height: 95%;
    position: relative;
}
body{
    background-color: #5171A5;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    height: 100%;
    min-height: 450px;
    min-width: 500px;
}
div{
    position: absolute;
}


/* un-visited link */
a:link {
    background-color: #303030;
}

/* visited link */
a:visited {
    background-color: #437F7F;
}

/* mouse over link */
a:hover {
    background-color: #01295F;
    color: #AFAFAF
}

/* selected link */
a:active {
    background-color: #01295F;
    color: #909090
}
