@font-face {
    font-family: "main";
    src: url("../../../res/fonts/main-font.otf");
}

body{
    background-color: #6b99c9;
    min-height: 700px;
    font-family: 'main', Arial, sans-serif;
    letter-spacing: -1.5px;
}
.hide{
    transition-duration: 1s;
    opacity:0;
    width: 1px;
    height: 1px;
    top: -1000px;
    z-index: -10;
}
.hidden{
    display: none;
}
.hide-shrink{
    transition-duration: 1s;
    opacity:0;
    width: 1px;
    height: 1px;
    top: 0;
}
.shrink-up-fade{
    height: 0;
    transition-duration: 1s;
    opacity:0;
}
.show{
    transition-duration: 1s;
    opacity:1;
}

::placeholder {
    color: #343434;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343434;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #343434;
}

.animatable{
    transition-duration: 1s;
    opacity:0;
}
/*Animations*/
.fade-in{
    opacity:1;
}
.fade-left{
    left:0;
    opacity:1;
}
.left{
    left:10px;
}
.fade-right{
    right:0;
    opacity:1;
}
.right{
    right:10px;
}
.fade-down{
    top:0;
    opacity:1;
}
.top{
    top:10px;
}

#menu-bar{
    width: 100%;
    height: 75px;
    background-color: #8FABCE;
    left: 0;
    position: absolute;
}
#logo-top-left{
    top: 0;
    left: 0;
    background: url("../../../res/imgs/Logo-wide.png") round;
    width:200px;
    height:75px;
    position: absolute;
}
#online-status{
    width: 250px;
    height:75px;
    top:0;
    right:0;
    background-color: #719ACE;
    position: absolute;
}
.below-bar{
    /* Firefox */
    height: -moz-calc(100% - 75px);
    /* WebKit */
    height: -webkit-calc(100% - 75px);
    /* Standard */
    height: calc(100% - 75px);
    position: absolute;
}
#users{
    /*width:20%;*/
    width:250px;
    background-color: #76A9CE;
    bottom:0;
    overflow-y: scroll;
    overflow-x: hidden;
}
#tabs{
    /*width:25%;*/
    width:300px;
    background-color: #76A9CE;
    bottom:0;
}
#channels-list{
    top: 0;
    right:0;
    width: 100%;
    /* Firefox */
    height: -moz-calc(100% - 100px);
    /* WebKit */
    height: -webkit-calc(100% - 100px);
    /* Standard */
    height: calc(100% - 100px);
}
#server-option-menu{
    bottom: 0;
    background-color: #76A9CE;
    right:0;
    width: 100%;
    height: 99px;
    border-top: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

#message-area{
    /* Firefox */
    width: -moz-calc(100% - 550px);
    /* WebKit */
    width: -webkit-calc(100% - 550px);
    /* Standard */
    width: calc(100% - 550px);
    bottom: 0;
    background-color: #7B9FCE;
    left:250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#msgs{
    /* Firefox */
    min-height: -moz-calc(100% - 55px);
    /* WebKit */
    min-height: -webkit-calc(100% - 55px);
    /* Standard */
    min-height: calc(100% - 55px);

}
#text-box{
    width: 100%;
    height: 50px;
    /*border: 1px #0d03ff;*/
    background-color: #6C98D2;
    bottom:0;
    left:0;
    position: sticky;
    /*box-shadow: 0 0 20px 4px #000000;*/
}
#icon-area{
    /* Firefox */
    width: -moz-calc(100% - 450px);
    /* WebKit */
    width: -webkit-calc(100% - 450px);
    /* Standard */
    width: calc(100% - 450px);
    height:100%;
    left:200px;
    top:0;
    position: absolute;
}

#drop-down-area{
    /* Firefox */
    width: -moz-calc(100% - 450px);
    /* WebKit */
    width: -webkit-calc(100% - 450px);
    /* Standard */
    width: calc(100% - 450px);
    height:1px;
    left:200px;
    top:75px;
    position: absolute;
}

/*Menu options at top of page*/

.option-box{
    text-align: center;
    width:10%;
    height:100%;
    border: solid 1px black;
    position: absolute;
}

.align-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
}
.align-horizontal{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.icon-tiny-center{
    width: 25px;
    height: 25px;
    background-color: #69d8ff;
    left: 50%;
    margin-left: -12.5px;
    top: 1px;
    position: relative;
}
.text{
    width: 100%;
    /*height: 50px;*/
    left: 0;
    /*top: 26px;*/
    position: relative;
    font-size: 14px;
}

#menu-chats{
    left:0;
}
#i00{
    background-image: url("../icons/menu/00.png");
}
#menu-dms{
    left:10%;
}
#i01{
    background-image: url("../icons/menu/01.png");
}

#menu-friends{
    left:20%;
}
#i02{
    background-image: url("../icons/menu/02.png");
}

#menu-trusted{
    left:30%;
}
#i03{
    background-image: url("../icons/menu/03.png");
}

#menu-pending{
    left:40%;
}
#i04{
    background-image: url("../icons/menu/04.png");
}

#menu-blocked{
    left:50%;
}
#i05{
    background-image: url("../icons/menu/05.png");
}

#menu-bots{
    left:60%;
}
#i06{
    background-image: url("../icons/menu/06.png");
}
#menu-8{
    left:70%;
}
#i07{
    background-image: url("../icons/menu/07.png");
}
#menu-account{
    left:80%;
}
#i08{
    background-image: url("../icons/menu/08.png");
}
#menu-donate{
    left:90%;
}
#i09{
    background-image: url("../icons/menu/09.png");
}
#close-icon{
    background-image: url("../icons/menu/close-menu.png");
}
#close{
    background-color: #8FABCE;
}

/*chat select area*/
#chat-select{
    background-color: #6CA4CC;
    width: 100%;
    bottom:0;
}
#chat-list{
    text-align: center;
    width: 50%;
    height: 80%;
    left: 25%;
    background-color: #6599BF;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

#browse-chat-list{
    text-align: center;
    width: 100%;
    height: 92%;
    position: absolute;
    top: 0;
}

#current-chat-list{
    text-align: center;
    width: 100%;
    height: 92%;
    position: absolute;
    top: 0;
}
#title-starred{
    height: 5%;
    top: 0;
    position: absolute;
    border-bottom: 1px black;
    width: 100%;
    font-size: 20px;
}
#starred-chats{
    height:40%;
    width:100%;
    top: 5%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}
#divider-chats{
    top:47%;
    height:2%;
    background-color: #A2D8D2;
    position: absolute;
    width: 99%;
    left:0.5%;
}
#title-other{
    height: 5%;
    top: 49%;
    position: absolute;
    border-bottom: 1px black;
    width: 100%;
    font-size: 20px;
}
#other-chats{
    height:40%;
    width:100%;
    top: 55%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

#create-new-chat{
    height:7%;
    bottom:1%;
    background-color: #C1EEFF;
    width:98%;
    left:1%;
    position: absolute;
    border-radius: 10px;
}

.search-area{
    width: 365px;
    height: 25px;
    top: 90px;
}
.search-bar-area{
    width:80px;
    height:25px;
    position: absolute;
    top: 0;
    line-height: 25px;
}
.search-bar{
    background-color: #C1EEFF;
    left:65px;
    border: 1px solid #C1EEFF;
    position: absolute;
    top: 2px;
}
#filter-icon{
    width:25px;
    height:25px;
    right: 80px;
    position: absolute;
    top: 0;
    margin-left:50px;
    background: #C1EEFF url("../icons/menu/05.png") no-repeat;
    background-size: contain;
}
.search-btn{
    background-color: #C1EEFF;
    margin-left:80px;
    right: 0;
    width:75px;
    height:25px;
    position: absolute;
    top: 0;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
}
.search-btn:active {
    background-color: #95b6d7;
}
.search-btn:hover{
    background-color: #b3fdff;
}

.btn-area-select{
    width:33.333%;
    left:33.333%;
    position: absolute;
    background-color: #5B8BAD;
    top:0;
    height: 75px;
}
.btn-100-off-br{
    height:100%;
    position:absolute;
    border-bottom: solid 5px darkred;
    background-color: #91accb;
    text-align: center;
    transition: 1s;
}
.btn-100-off-br:hover{
    height:100%;
    position:absolute;
    border-bottom: solid 5px #ab0000;
    background-color: #a8cfdd;
    text-align: center;
    transition: 1s;
}
.btn-100-br-selected{
    height:100%;
    position:absolute;
    border-bottom: solid 5px #b70000;
    background-color: #B2DBEA;
    text-align: center;
}
.btn-33{
    width:33.33333%;

}
.btn-25{
    width:25%;

}
.l0{
    left:0;
}
.l25 {
    left: 25%;
}
.l33{
    left:33.33333%;
}
.r25{
    right:25%;
}
.r0{
    right:0;
}


.drop-down{
    width: 250px;
    height: 350px;
    background-color: #8FABCE;
    position: absolute;
    z-index: 1;
    top:0;
    text-align: center;
}
.box-1x1{
    width: 1px;
    height:1px;
    transition-duration: 1s;
    position: absolute;
    top:0;
    z-index: 1;
    text-align: center;
}
#chat-drop-down{
    left:0;
}
#DM-drop-down{
    left:10%;
}
#friend-drop-down{
    left:20%;
}
#close-friend-drop-down{
    left:30%;
}
#pending-drop-down{
    left:40%;
}
#blocked-drop-down{
    left:50%;
}
#bots-drop-down{
    left:60%;
}
#help-drop-down{
    left:70%;
}
#settings-drop-down{
    left:80%;
}
#forever-eternal-drop-down{
    left:90%;
}
#online-drop-down{
    left:100%;
}

#user-list{
    width:100%;
    background-color: #6CA4CC;
    bottom: 0;
}
#help-menu{
    position: fixed;
    /* height: auto; */
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #86c1eb;
    overflow: auto;
}
#help-menu-content{
    width: 50%;
    left: 25%;
    height: auto;
    position: absolute;
    line-break: strict;
    background-color: #b2ddff;
    top: 0;
}

.settings-box{
    background-color: #b2ddff;
    width:50%;
    left:25%;
    height: auto;
    top:auto;
    position: relative;
    margin-bottom: 25px;
    min-width: 512px;
}

.setting{
    left: 150px;
    position: absolute;
}
.user-setting-text{
    left: 10px;
    position: absolute;
    font-size: 15.5px;
}
.username-setting{
    top: 10px;
}
.email-setting{
    top: 35px;
}
.new-pass-setting{
    top: 60px;
}
.pass-setting{
    top: 85px;
}
.radio2{
    top: 75px;
}
.radio3{
    top: 90px;
}
.radio4{
    top: 105px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    z-index: 100;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid black;
    z-index: 100;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    z-index: 100;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    z-index: 100;
}

.move-up{
    border-bottom-color: #249a30;
    right: 5px;
    top: -10px;
    position: absolute;
}
.done{
    background-color: #14d200;
    right: 5px;
    top: 5px;
    position: absolute;
    width: 30px;
    height: 16px;
    font-size: 12px;
    text-align: center;
}
.move-down{
    border-top-color: #af332a;
    right: 5px;
    top: 21px;
    position: absolute;
}

.chat-emoji-menu-open{
    top: 20px;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url("../icons/arrow-up.png") no-repeat;
    background-size: contain;
}
#emoji-display{
    bottom: 0;
    position: absolute;
    width: 300px;
    height: 350px;
    right: 0;
    background-color: #c0ffee;
    /*Anyone want some coffee??*/
}
#emoji-search{
    top:2px;
    position: absolute;
    left:5px;
}
.emoji-box{
    bottom: 50px;
    position: absolute;
    width: 300px;
    height: 375px;
    right: 0;
    background-color: #8ad0ff;
}
#gif-display{
    bottom: 0;
    position: absolute;
    width: 300px;
    height: 350px;
    right: 0;
    background-color: #c0ffee;
    /*Anyone want some coffee??*/
}
#gif-search{
    top:2px;
    position: absolute;
    left:5px;
}
.gif-box{
    bottom: 50px;
    position: absolute;
    width: 300px;
    height: 375px;
    right: 0;
    background-color: #8ad0ff;
}

.top-right{
    top: 1px;
    right: 1px;
    border-radius: 7px;
    width: 50px;
    height: 23px;
    position: absolute;
    background-color: #287cc2;
    text-align: center;
}
.top-right:hover{
    background-color: #2693c2;
}

.top-right-left{
    top: 1px;
    right: 74px;
    border-radius: 7px;
    width: 50px;
    height: 23px;
    position: absolute;
    background-color: #246428;
    text-align: center;
}
.top-right-left:hover{
    background-color: #2d8131;
}

#settings-menu{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #86c1eb;
    overflow: auto;
}

#friend-list{
    border: 5px solid #5495FF;
    left: 15%;
    width: 70%;
    top: 25%;
    height: 50%;
    position: absolute;
    margin-right: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.warning{
    width: 20px;
    height: 20px;
    top: 0;
    right: 5px;
    position: absolute;
    border-radius: 7px;
}

#maintainance-user-search{
    position: absolute;
    bottom: 20px;
    right: 115px;
}

.profile{
    width: 250px;
    position: relative;
    display: inline-table;
    margin: auto;
}
.profile-bg{
    position: absolute;
    top: -14px;
    background-color: #7CB9FF;
    width: 250px;
    border-radius: 40px;
    height: 100%;
}
.h100{
    height:100%;
}

.popup{
    width: 661px;
    height: 495px;
    left: 50%;
    top: 50%;
    margin-left: -330.5px;
    margin-top: -247.5px;
    background-color: #76abe2;
    position: absolute;
    z-index: 10;
    border-radius: 15px;
}
.popup-bg{
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 100, 0.5);
    width: 100%;
    height: 100%;
}
#create-chat{

}
#create-chat-text{
    text-align: center;
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    position: absolute;
    width: 100%;
}
#create-chat-icon{
    width: 100px;
    height: 100px;
    top: 65px;
    left: 20px;
    position: absolute;
    background-color: #206bff;
}
#create-chat-name-text{
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    left: 125px;
    top: 77.5px;
    position: absolute;
}
#create-dm-name-text{
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    left: 25px;
    top: 80px;
    position: absolute;
}
#create-chat-name{
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    left: 250px;
    width: 395px;
    top: 65px;
    position: absolute;
}
#create-dm-name{
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    left: 150px;
    width: 495px;
    top: 65px;
    position: absolute;
}
#create-chat-description-text{
    height: 10%;
    font-size: 150%;
    text-space: 10%;
    left: 125px;
    top: 130px;
    position: absolute;
}
#create-chat-description{
    font-size: 200%;
    position: absolute;
    top: 25%;
    margin-top: 55px;
    left: 3%;
    min-width: 94%;
    max-width: 94%;
    max-height: 50%;
    min-height: 50%;
}
.input-field-dark{
    background-color: #287cc2;
    border: none;
    resize: none;
    outline: none;
    min-height: 20px;
    border-radius: 7px;
}
.btn-true{
    outline:0;
    width: 100px;
    height: 50px;
    background-color: #246428;
    border: none;
    position: absolute;
    border-radius: 5px;
}
.btn-true:hover{
    background-color: #2d8131;
}
.btn-false{
    outline:0;
    width: 100px;
    height: 50px;
    background-color: #8b1d19;
    border: none;
    position: absolute;
    border-radius: 5px;
}
.btn-false:hover{
    background-color: #bd2722;
}
.btn-blue{
    outline:0;
    width: 100px;
    height: 50px;
    background-color: #287cc2;
    border: none;
    position: absolute;
    border-radius: 5px;
}
.btn-blue:hover{
    background-color: #2693c2;
}
.btn-create{
    right: 120px;
    bottom: 10px;
}
.btn-cancel{
    right: 10px;
    bottom: 10px;
}
.btn-left{
    left: 10px;
    bottom: 10px;
}
.title{
    top: 5px;
    height: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
.subtitle{
    top: 20px;
    height: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.popup-scrollable{
    overflow-x: hidden;
    overflow-y: auto;
    top: 35px;
    height: 390px;
    width: 100%;
    position: absolute;
}
.scrollable{
    overflow-x: hidden;
    overflow-y: auto;
}


.help{
    width: 15px;
    height: 15px;
    background: cyan url(../icons/menu/07.png) no-repeat;
    background-size: contain;
}

.setting-text{
    font-size: 19px;
    width: auto;
    height: auto;
    position: absolute;
}
.container{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10px;
}
#gen-invite-settings-text{
    /*top: 5px;*/
    left: 15px;
    position: relative;
    height: 24px;
}
#invite-link-settings{
    top: 0;
    left: 170px;
    position: absolute;
    width: 395px;
}
#manage-invites-settings-text{
    position: relative;
    left: 15px;
}
#chat-name-settings-text{
    /*top: 5px;*/
    left: 15px;
    position: relative;
    height: 24px;
}
#chat-name-settings{
    top: 0;
    left: 150px;
    position: absolute;
    width: 395px;
}

#chat-description-settings-text{
    /*top: 25px;*/
    left: 15px;
    height: 100px;
    position: relative;
}
#chat-description-settings{
    left: 180px;
    font-size: 200%;
    position: absolute;
    width: 361px;
    height: 100px;
    top: 0;
}


#is-public-settings-text{
    left: 15px;
    height: 20px;
    position: relative;
}
#is-public-settings{
    top: 3px;
    left: 110px;
    position: absolute;
}
#public-chat-help{
    top:0;
    left: 130px;
    position: absolute;
}
#public-catagory-settings-text{
    left: 45px;
    height: 20px;
    position: relative;
}
#public-catagory-settings{
    top: 4px;
    left: 145px;
    position: absolute;
    height: 20px;
}
#public-chat-catagory-help{
    top: 0;
    left: 246px;
    position: absolute;
}

#in-maintainance-settings-text{
    left: 15px;
    height: 20px;
    position: relative;
}
#in-maintainance-settings{
    top: 3px;
    left: 180px;
    position: absolute;
}
#in-maintainance-help{
    top: 0;
    left: 200px;
    position: absolute;
}


#in-maintainance-whitelist-settings-text{
    left: 15px;
    height: 225px;
    position: relative;
}
#in-maintainance-whitelist-settings{
    width: 100%;
    top: 25px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
}
#in-maintainance-users-help{
    top: 0;
    left: 172px;
    position: absolute;
}


#join-message-enabled-settings-text{
    left: 15px;
    height: 20px;
    position: relative;
}
#join-message-enabled-settings{
    top: 3px;
    left: 183px;
    position: absolute;
}
#join-message-help{
    top: 0;
    left: 200px;
    position: absolute;
}


#join-message-content-settings-text{
    left: 45px;
    height: 50px;
    position: relative;
}
#join-message-content-settings{
    top: -1px;
    left: 210px;
    position: absolute;
    height: 20px
}
#join-message-content-help {
    top: 0;
    left: 384px;
    position: absolute;
}


#maintainance-message-content-settings-text{
    left: 45px;
    height: 50px;
    position: relative;
}
#maintainance-message-content-settings{
    top: -1px;
    left: 255px;
    position: absolute;
    height: 20px
}
#maintainance-message-content-help{
    top: 0;
    left: 429px;
    position: absolute;
}


#join-message-channel-settings-text{
    top: 30px;
    left: 45px;
    position: absolute;
    height: 20px
}
#join-message-channel-settings{
    top: 33px;
    left: 310px;
    position: absolute;
    height: 20px;
    width: 110px;
}
#join-message-channel-help{
    top: 28px;
    left: 422px;
    position: absolute;
}


#ranks-channels-settings{
    min-height: 340px;
    position: relative;
    border: 1px solid black;
}
#channels-list-settings{
    min-height: 340px;
    position: absolute;
    border-left: 1px solid black;
    width: 50%;
    right: 0;
}
#rank-list-settings{
    min-height: 340px;
    position: absolute;
    border-right: 1px solid black;
    width: 50%;
    left: 0;
}


#user-search-settings-text{
    left: 15px;
    height: 20px;
    position: relative;
}
#user-search-settings{
    top: 0;
    left: 140px;
    position: absolute;
    width: 165px;
    height: 20px;
    outline: none;
    border: none;
}
#user-search-button-settings{
    top: 1px;
    left: 320px;
    position: absolute;
    height: 20px;
    width: 110px;
}
#user-search-settings-help{
    top: 0;
    left: 430px;
    position: absolute;
}

#user-settings{
    height: 200px;
    position: relative;
}


.online-status-box-popup{
    position: relative;
    width: 98%;
    left: 1%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 20px;
}
.rank-name{
    position: absolute;
    top: 25px;
    height: 100px;
    left: 120px;
    width: 500px;
}
.rank-name-text{
    left: 10px;
    top: 30px;
    position: absolute;
}

.reply-message{
    position: absolute;
    top: 50px;
    height: 100px;
    left: 120px;
    width: 500px;
}
.reply-message-text{
    left: 10px;
    top: 55px;
    position: absolute;
}
.online-status-colour{
    width: 20px;
    height: 20px;
    left: 105px;
    position: absolute;
    bottom: 15px;
    border: none;

}
.online-status-colour-text{
    bottom: 15px;
    left: 10px;
    position: absolute;
}
.online-status-times{
    bottom: 12px;
    left: 197px;
    position: absolute;
}
.online-status-times-text{
    bottom: 15px;
    left: 150px;
    position: absolute;
}
.select-online-status{
    background-color: #0073d6;
    bottom: 12px;
    right: 10px;
    position: absolute;
    border: none;
    outline: none;
    height: 25px;
    border-radius: 10px;
}

.message{
    width: 300px;
    height: 100px;
    text-align: center;
    background-color: #88e0e6;
    color: #c74044;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -150px;
    word-wrap: break-word;
}

.profile-pic{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    /*background: darkred no-repeat;*/
    background-size: 100% 100%;
}

.file-upload-label {
    width: 10px;
    height: 10px;
    position: absolute;
    display: inline-block;
    border-color: #AAA;
    top: 22px;
    right: 40px;
}
.file-upload-label:before{
    content: "";
    border-bottom: 2px solid #AAA;
    bottom: 2px;
    position: absolute;
    width: 16px;
    opacity: 0.5;
}
.file-upload-label:after{
    content: "";
    border-left: 2px solid #AAA;
    left: 7px;
    position: absolute;
    height: 14px;
    opacity: 0.5;
}
.file-upload-label:hover {
    border-color: #dcdcdc;
    opacity: 0.75;
}
.file-upload-label:active {
    border-color: #CCF;
    opacity: 0.75;
}

#online-status-text{
    left: 80px;
    top: 15px;
    text-align:  left;
    line-break:  auto;
    position:  absolute;
    word-break: break-all;
}
#status-text{
    left: 80px;
    top: 35px;
    text-align:  left;
    line-break:  auto;
    position:  absolute;
    font-size: 10px;
    word-break: break-all;
}
#online-status-icon{
    width: 15px;
    height: 15px;
    background-color: darkblue;
    border-radius: 10px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.profile-online-status-text{
    left: 80px;
    top: 38px;
    text-align:  left;
    line-break:  auto;
    position:  absolute;
    word-break: break-all;
}
#profile-status-text{
    left: 80px;
    top: 55px;
    text-align:  left;
    line-break:  auto;
    position:  absolute;
    font-size: 10px;
    word-break: break-all;
}
#profile-online-status-icon{
    width: 15px;
    height: 15px;
    background-color: darkblue;
    border-radius: 10px;
    right: 0;
    bottom: 0;
    position: absolute;
}

#profile-bg{
    width: 200px;
    height: 300px;
    background-color: #7daceb;
    z-index: 100;
    position: absolute;
}
#start-dm{
    bottom: 5px;
    position: absolute;
    left: 50%;
    margin-left: -25%;
}
#settings-profile{
    bottom: 80px;
    position: absolute;
    height: 20px;
    text-align: center;
    left: 50%;
    margin-left: -25%;
}
.settings-profile{
    bottom: 80px;
    position: absolute;
    height: 20px;
    text-align: center;
    left: 50%;
    margin-left: -25%;
}
#admin-profile{
    bottom: 125px;
    position: absolute;
    height: 20px;
    text-align: center;
    left: 50%;
    margin-left: -25%;
}
#settings-profile-content{
    top: 200px;
}
.settings-profile-content{
    bottom: 10px;
}
#admin-profile-content{
    top: 150px;
}
.profile-content{
    height: auto;
    background-color: rgb(148, 206, 255);
    width: 100px;
    left: 70%;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    z-index: 100;
    white-space: normal;
}
.profile-button-extended{
    margin-top: 5px;
    position: relative;
}
/*#friend{*/
    /*bottom: 170px;*/
    /*position: absolute;*/
    /*left: 75px;*/
/*}*/
#role-name{
    width: 270px;
}
.role-colour-edit{
    width: 20px;
    height: 20px;
    left: 60px;
    position: absolute;
    top: 0;
    border: none;
}
.role-edit-colour-text{
    top: 25px;
    left: 10px;
    position: absolute;
}
.role-icon-edit-text{
    left: 100px;
    top: 25px;
    position: absolute;
}
.role-icon-edit{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 37px;
    top: 3px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
}
.edit-role-icon-list{
    width: 80px;
    height: 80px;
    background-color: lemonchiffon;
    z-index: 100;
    position: absolute;
    left: 138px;
    top: 43px;
}
.role-icon-row0{
    position: absolute;
    top: 5px;
}
.role-icon-row1{
    position: absolute;
    top: 30px;
}
.role-icon-row2{
    position: absolute;
    top: 55px;
}
.role-icon-column0{left:5px}
.role-icon-column1{left:30px}
.role-icon-column2{left:55px}

.edit-role-invis{
    position: absolute;
    top: 23px;
    left: 10px;
}
.role-priority-edit-text{
    left: 160px;
    top: 25px;
    position: absolute;
}
.role-priority-edit{
    width: 20px;
    height: 20px;
    left: 90px;
    top: -1px;
    position: absolute;
    text-align: center;
}
.role-perm-text{
    position: absolute;
    top: 75px;
    left: 0px;
    border: 1px solid black;
}
.role-perm-edit{
    position: absolute;
    top: 100px;
    left: 10px;
    height: 270px;
    font-size: 20px;
    width: 380px;
}
.role-permission{
    color:darkblue;
}
.role-perm-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.role-perm-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #ff8b87 url("../../../res/imgs/cross.png");
    border-radius: 9px;
}
.role-perm-checkbox:hover input ~ .checkmark {
    background: #aecfee url("../../../res/imgs/cross.png");
}

.role-perm-checkbox input:checked ~ .checkmark {
    background: #a8f370 url();
}

.checkmark:after {
    content: " ";
    position: absolute;
    display: none;
}
.role-perm-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.role-perm-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tagged-user{
    background-color: #a0dbff;
    border-radius: 5px;
}
.tagged-user:hover {
    background-color: #8ac1e2;
}
.screen{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top:0;
    left:0;
    position: absolute;
    z-index: 100;
}
#your-dm-list{
    height: 90%;
}
.contextmenu{
    width: 100px;
    position: relative;
    background-color: #96e0ff;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
}
#leaveChat{
    width: 100%;
    height: 20px;
    background-color: #96e0ff;
    border-radius: 5px;
}
#leaveChat:hover{
    background-color: #206bff;
}
#help-tag{
    background-color: #96e0ff;
    border-radius: 5px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 100000;
}

#image-area{
    display: none;
}

.loading-rotate-1:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 120px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #a5b4c5;
    border-top-color: #2090ff;
    animation: rotate 1s linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}