.box{
    left: 15%;
    width: 70%;
    background-color: #42C0FF;
    position: relative;
    text-align: center;
    word-wrap: normal;
    opacity: 0;
    -webkit-animation-name: fade;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    top: 50px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade {
    from {margin-top: 0px;}
    to {margin-top: 20px;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
}
@keyframes fade {
    from {margin-top: -20px;}
    to {margin-top: 0;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
}
